<!DOCTYPE html>
<html>
    <head>
        <title>Sign up page</title>
    </head>
    <body>
        <style>
            body{background-color: black;}
            h1{color: blanchedalmond;}
            p{color: white;}
     </style>
        <center>
        <h1><strong></strong>Sign Up</strong> </h1>
        <p>Already have an account?<a href="/">Sign In</a></p>
     <!--Forms-->
     <form method="POST">
         
          
          <Input type="email" name="mailid"placeholder="email address"required><br><br>
          <Input type="password" name="password"placeholder="new password"required><br><br>
          <Input type="text" name="secretcode"placeholder="secret code"required><br>,<br>
          <input type="submit" value="Sign Up">
       

     </form> 
     <p>By clicking the "Sign Up" button,you are creating an account and you agree to the terms of use.</p>  
        </center>
    </body>
</html>