<!DOCTYPE html>
<html>
    <head>
        <title>Sign in page</title>
    </head>
    <body>
    <style>
    body{background-color: black;}
    h1{color: blanchedalmond;}
    p{color: white;}
    </style>
       <center>
        <h1><strong>Sign In</strong> </h1>
        <p>Don't have an account?<a href="/signup">Sign Up</a></p>
     <!--Forms-->
     <form method="POST">
         
         <Input type="email" name="mailid"placeholder="email address"required><br><br>
         
         <Input type="password" name="password"placeholder="password"required><br><br>
         <input type="submit"value="Sign In"> 
       

     </form> 
     <p><a href= ""> forgot your password?</a></p>  
       </center> 
     
    </body>
</html>